pkgbase = specify-cli
	pkgdesc = Spec Kit Specify CLI (spec-driven development workflow)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/github/spec-kit
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python>=3.12
	depends = python-typer
	depends = python-rich
	depends = python-httpx
	depends = python-platformdirs
	depends = python-readchar
	depends = python-truststore
	depends = python-socksio
	source = specify-cli-0.2.0.tar.gz::https://github.com/github/spec-kit/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 173f21a5f251e644f2229a2db23fb2cb13f2810748bda11c49831e78cf67932d

pkgname = specify-cli
