pkgbase = specify-cli
	pkgdesc = Spec Kit Specify CLI (spec-driven development workflow)
	pkgver = 0.1.12
	pkgrel = 1
	url = https://github.com/github/spec-kit
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python>=3.12
	depends = python-typer
	depends = python-rich
	depends = python-httpx
	depends = python-platformdirs
	depends = python-readchar
	depends = python-truststore
	depends = python-socksio
	source = specify-cli-0.1.12.tar.gz::https://github.com/github/spec-kit/archive/refs/tags/v0.1.12.tar.gz
	sha256sums = fcac799349b044a149784c1e9b4cb3084bcdbca6fcf5fad83be0ecbb5db27fe9

pkgname = specify-cli
