pkgbase = specify-cli
	pkgdesc = Spec Kit Specify CLI (spec-driven development workflow)
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/github/spec-kit
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python>=3.12
	depends = python-typer
	depends = python-rich
	depends = python-httpx
	depends = python-platformdirs
	depends = python-readchar
	depends = python-truststore
	depends = python-socksio
	source = specify-cli-0.1.5.tar.gz::https://github.com/github/spec-kit/archive/refs/tags/v0.1.5.tar.gz
	sha256sums = 1eac4c4a9b168a576a6feac7e9376da74c1ea7c7e46b755211d6b7f71e9c1d55

pkgname = specify-cli
