pkgbase = logseq-desktop
	pkgdesc = Privacy-first, open-source platform for knowledge sharing and management
	pkgver = 0.10.15
	pkgrel = 4
	url = https://github.com/logseq/logseq
	arch = x86_64
	license = AGPL-3.0-or-later
	makedepends = asar
	makedepends = clojure
	makedepends = git
	makedepends = nvm
	makedepends = patchelf
	makedepends = python-setuptools
	depends = electron38
	source = logseq-0.10.15.tar.gz::https://github.com/logseq/logseq/archive/refs/tags/0.10.15.tar.gz
	sha256sums = ff5d28c82027d3193cf75d9d0cc8eefa00a7f054234c7f164c29845580a1cccc

pkgname = logseq-desktop
	depends = electron38
