pkgbase = container-use
	pkgdesc = Sandboxed dev environments for coding agents (Dagger-powered), with git worktree workflows
	pkgver = 0.4.2
	pkgrel = 1
	url = https://container-use.com
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go
	makedepends = git
	depends = glibc
	depends = git
	optdepends = docker: container runtime for environments
	optdepends = podman: alternative container runtime
	source = git+https://github.com/dagger/container-use.git#tag=v0.4.2
	sha256sums = SKIP

pkgname = container-use
