pkgbase = supabase
	pkgdesc = CLI for Supabase, an open source Firebase alternative
	pkgver = 2.84.2
	pkgrel = 1
	url = https://supabase.com/docs/reference/cli/about
	arch = aarch64
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	conflicts = supabase-bin
	conflicts = supabase-git
	source = supabase-cli-2.84.2.tar.gz::https://github.com/supabase/cli/archive/refs/tags/v2.84.2.tar.gz
	b2sums = 774d61dddfff7e9694a52575e071c227ebad67a623697570e5127305c6e56ced4d4243f8fb81a0a143c707fc58d7f7b06a73016be5cd3d11b635453d23c06e98

pkgname = supabase
