pkgbase = supabase
	pkgdesc = CLI for Supabase, an open source Firebase alternative
	pkgver = 2.75.0
	pkgrel = 1
	url = https://supabase.com/docs/reference/cli/about
	arch = aarch64
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	conflicts = supabase-bin
	conflicts = supabase-git
	source = supabase-cli-2.75.0.tar.gz::https://github.com/supabase/cli/archive/refs/tags/v2.75.0.tar.gz
	b2sums = 92a590c098c8a2f638c5e4c444642a2dffb95d844ff285b4bd39666d22708effbcf0cccb19316d2d0a103bf7a4cc1eed901518253166a3d9b2efb74d1c85f827

pkgname = supabase
