pkgbase = dagger-git
	pkgdesc = An open-source runtime for composable workflows (development version)
	pkgver = 0.19.10.71.g27ae0f6
	pkgrel = 1
	url = https://dagger.io
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	depends = glibc
	optdepends = docker: container runtime (recommended)
	optdepends = podman: alternative container runtime
	provides = dagger
	conflicts = dagger
	conflicts = dagger-bin
	options = !lto
	options = !debug
	source = git+https://github.com/dagger/dagger.git
	sha256sums = SKIP

pkgname = dagger-git
