pkgbase = calibre-bin
	pkgdesc = Official binary version Calibre
	pkgver = 9.0.0
	pkgrel = 1
	url = https://download.calibre-ebook.com
	arch = x86_64
	arch = aarch64
	license = GPL3
	provides = calibre
	conflicts = calibre
	conflicts = calibre-git
	options = !strip
	source = share.tar.xz
	sha256sums = c7aae61afba19c9cceed8bbafd2b39b5c4d6d683de0ccfc9c1fe2651857f757a
	source_x86_64 = calibre-9.0.0-x86_64.txz::https://github.com/kovidgoyal/calibre/releases/download/v9.0.0/calibre-9.0.0-x86_64.txz
	sha256sums_x86_64 = b9cc2b8fe65f25b4057b66ff0839bed986a519cbeae18ef53d6ee722ee2686cd
	source_aarch64 = calibre-9.0.0-aarch64.txz::https://github.com/kovidgoyal/calibre/releases/download/v9.0.0/calibre-9.0.0-arm64.txz
	sha256sums_aarch64 = 0a873e9c2f3b11ecca46ffd6832c3882c4f5c3749b7ef254f3062239e67e32d3

pkgname = calibre-bin
