pkgbase = lmstudio-bin
	pkgdesc = Discover, download, and run local LLMs
	pkgver = 0.4.3.2
	pkgrel = 1
	url = https://lmstudio.ai/
	arch = x86_64
	license = LicenseRef-EULA
	makedepends = squashfs-tools
	makedepends = graphicsmagick
	depends = zlib
	depends = hicolor-icon-theme
	depends = fuse2
	depends = clblast
	replaces = lmstudio
	noextract = lmstudio-bin-0.4.3.2.AppImage
	options = !strip
	options = !debug
	source = lmstudio-bin-0.4.3.2.AppImage::https://installers.lmstudio.ai/linux/x64/0.4.3-2/LM-Studio-0.4.3-2-x64.AppImage
	sha256sums = 91441c6bae87220e727ed7d0943edc56a8c94d0de044dad7a29b95ea76bf9a47

pkgname = lmstudio-bin
