pkgbase = mise
	pkgdesc = The front-end to your dev env
	pkgver = 2026.3.7
	pkgrel = 1
	url = https://github.com/jdx/mise
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = clang
	makedepends = cmake
	depends = bzip2
	depends = libgcc
	depends = glibc
	depends = openssl
	optdepends = bash-completion: bash completion support
	optdepends = usage: completion support
	provides = mise
	conflicts = rtx
	conflicts = rtx-bin
	replaces = rtx
	options = !emptydirs
	options = !lto
	source = https://github.com/jdx/mise/archive/v2026.3.7/mise-2026.3.7.tar.gz
	sha512sums = 5d57126921acf78b8cf494714bc2b9ee066e9c541bd5e232d78f761e987d7f27c085259742a49ddf98fa5c11225a3382a7ef71614cbb13fa3c0189018d5bc6d8
	b2sums = bfa24ae007ca834c410f2e710a0df57e6613b250021a52765cbdebf8006671cc00fb235431d5354f5abbdb13dbcdac04d268a99e052399839ff93f1af5074e9d

pkgname = mise
