pkgbase = plezy
	pkgdesc = A modern Plex client for desktop and mobile
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/edde746/plezy
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	makedepends = curl
	makedepends = unzip
	depends = gtk3
	depends = mpv
	depends = libepoxy
	depends = libkeybinder3
	depends = alsa-lib
	depends = glib2
	depends = xdg-user-dirs
	conflicts = plezy-git
	source = plezy-1.5.0::https://github.com/edde746/plezy/archive/refs/tags/1.5.0.tar.gz
	source = https://storage.googleapis.com/flutter_infra_release/releases/stable/linux/flutter_linux_3.38.6-stable.tar.xz
	sha256sums = 1e04abf70fe48ed8aaa5e63b149f170583815e69e24676acd6d0efd5d88b46ab
	sha256sums = a70e3b829f53acd013aae65995755db0f421457b5ab754afa5a344cd5ec4d8d5

pkgname = plezy
