pkgbase = serena-bin
	pkgdesc = Serena MCP server + CLI (prebuilt PyPI wheel)
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/oraios/serena
	arch = x86_64
	license = MIT
	makedepends = python-installer
	depends = python
	depends = python-beautifulsoup4
	depends = python-dotenv
	depends = python-joblib
	depends = python-overrides
	depends = python-pathspec
	depends = python-psutil
	depends = python-pydantic
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-tqdm
	depends = python-yaml
	depends = python-jinja
	depends = python-flask
	depends = python-tiktoken
	depends = python-anthropic
	depends = python-mcp
	depends = python-types-pyyaml
	depends = pyright
	depends = fortls
	provides = serena
	conflicts = serena
	conflicts = serena-git
	source = serena_agent-0.1.4-py3-none-any.whl::https://files.pythonhosted.org/packages/0e/56/74d9a4dbbe574c93ccaefa0999091205fb9b5ee885dc28f89c6cc5b5e11e/serena_agent-0.1.4-py3-none-any.whl
	source = serena_agent-0.1.4.tar.gz::https://files.pythonhosted.org/packages/56/31/b5e1d0d55ce5669b60df3a20af45dc81ed0aa173eb735f35fe6712e9be74/serena_agent-0.1.4.tar.gz
	sha256sums = af8cccc17cf64c991eccbdbde7b64f512e6c15052524041a1547c410d450c148
	sha256sums = 8bb79a964a4bd09d5e5b86115d5436d9229dc80e6a3e0f176415e34294531a84

pkgname = serena-bin
