pkgbase = alpaca-git
	pkgdesc = An Ollama client made with GTK4 and Adwaita
	pkgver = 9.0.2.r0.gdbdd7106
	pkgrel = 1
	url = https://github.com/jeffser/Alpaca
	arch = any
	license = GPL-3.0
	makedepends = meson
	makedepends = blueprint-compiler
	makedepends = gettext
	makedepends = desktop-file-utils
	makedepends = appstream
	depends = python-requests
	depends = python-pillow
	depends = python-pypdf
	depends = python-pytube
	depends = python-html2text
	depends = python-pydbus
	depends = python-youtube-transcript-api
	depends = vte4
	optdepends = ollama
	conflicts = alpaca
	conflicts = alpaca-ai
	replaces = alpaca
	source = git+https://github.com/jeffser/alpaca.git
	sha256sums = SKIP

pkgname = alpaca-git
