pkgbase = plezy-bin
	pkgdesc = Modern Plex client built with Flutter (prebuilt binary)
	pkgver = 1.18.2
	pkgrel = 1
	url = https://github.com/edde746/plezy
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = libkeybinder3
	depends = mpv
	provides = plezy
	conflicts = plezy
	conflicts = plezy-git
	replaces = plezy
	options = !strip
	source = plezy.desktop
	sha256sums = b8e991c52d0c3b4a703d9232985c6ffd8bddee2120cba9743f4484a82008f050
	source_x86_64 = plezy-bin-1.18.2-x86_64.tar.gz::https://github.com/edde746/plezy/releases/download/1.18.2/plezy-linux-x64.tar.gz
	sha256sums_x86_64 = 8a3a41aad39a672f687dc1ab302695f81873fcb7e1cfbff988ce3597bdd459c8
	source_aarch64 = plezy-bin-1.18.2-aarch64.tar.gz::https://github.com/edde746/plezy/releases/download/1.18.2/plezy-linux-arm64.tar.gz
	sha256sums_aarch64 = e020ec3fefdd3f8515229fd942375245c7cdf056f01d476221c13a7373cf8006

pkgname = plezy-bin
