pkgbase = dagger-bin
	pkgdesc = An open-source runtime for composable workflows (prebuilt binary)
	pkgver = 0.20.1
	pkgrel = 1
	url = https://dagger.io
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	depends = glibc
	optdepends = git: enable Git-based Dagger workflows
	optdepends = docker: container runtime used to run the Dagger Engine
	optdepends = podman: alternative container runtime
	provides = dagger
	conflicts = dagger
	conflicts = dagger-git
	options = !lto
	options = !debug
	source = dagger_v0.20.1_checksums.txt::https://github.com/dagger/dagger/releases/download/v0.20.1/checksums.txt
	sha256sums = 26cbbcdc35da812e8b76f29390d020125bbf6c3f97535af2c12d0f3387bde675
	source_x86_64 = dagger_v0.20.1_linux_amd64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.1/dagger_v0.20.1_linux_amd64.tar.gz
	sha256sums_x86_64 = 012afa819a9d459389af34f1055c064dc117881080bf91dc31a6b4694f2bcf99
	source_aarch64 = dagger_v0.20.1_linux_arm64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.1/dagger_v0.20.1_linux_arm64.tar.gz
	sha256sums_aarch64 = da4da814e0a37540c88bd107ea4667bcdae1480a6656088f41ecad18f02b6334
	source_armv7h = dagger_v0.20.1_linux_armv7.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.1/dagger_v0.20.1_linux_armv7.tar.gz
	sha256sums_armv7h = c7773a75a82a0efd54be36ef616076474b30e4146865c8c53f55acdd44661aef

pkgname = dagger-bin
