pkgbase = dagger-bin
	pkgdesc = An open-source runtime for composable workflows (prebuilt binary)
	pkgver = 0.19.11
	pkgrel = 1
	url = https://dagger.io
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	depends = glibc
	optdepends = git: enable Git-based Dagger workflows
	optdepends = docker: container runtime used to run the Dagger Engine
	optdepends = podman: alternative container runtime
	provides = dagger
	conflicts = dagger
	conflicts = dagger-git
	options = !lto
	options = !debug
	source = dagger_v0.19.11_checksums.txt::https://github.com/dagger/dagger/releases/download/v0.19.11/checksums.txt
	sha256sums = 53326c155f8334519ff552bb62eaf2b079cea2acbdaed218eeb346c11641c48b
	source_x86_64 = dagger_v0.19.11_linux_amd64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.19.11/dagger_v0.19.11_linux_amd64.tar.gz
	sha256sums_x86_64 = 3978acbd6eca25e70d4a9f4d8728771669f4c33a076ce357892463f444601d64
	source_aarch64 = dagger_v0.19.11_linux_arm64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.19.11/dagger_v0.19.11_linux_arm64.tar.gz
	sha256sums_aarch64 = 17138a6a5aaf0dee78550cf39831de60c9a59516530467a9e51a938c21ee2e4e
	source_armv7h = dagger_v0.19.11_linux_armv7.tar.gz::https://github.com/dagger/dagger/releases/download/v0.19.11/dagger_v0.19.11_linux_armv7.tar.gz
	sha256sums_armv7h = dc10cb8fe00abeb2a67af998d19e916175c49122e95dc7254da6d446954c6f56

pkgname = dagger-bin
