pkgbase = dagger-bin
	pkgdesc = An open-source runtime for composable workflows (prebuilt binary)
	pkgver = 0.20.3
	pkgrel = 1
	url = https://dagger.io
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Apache-2.0
	depends = glibc
	optdepends = git: enable Git-based Dagger workflows
	optdepends = docker: container runtime used to run the Dagger Engine
	optdepends = podman: alternative container runtime
	provides = dagger
	conflicts = dagger
	conflicts = dagger-git
	options = !lto
	options = !debug
	source = dagger_v0.20.3_checksums.txt::https://github.com/dagger/dagger/releases/download/v0.20.3/checksums.txt
	sha256sums = 959a6101238acae359f19b522721642e82f78e7df632e9db25f99b070a039e62
	source_x86_64 = dagger_v0.20.3_linux_amd64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.3/dagger_v0.20.3_linux_amd64.tar.gz
	sha256sums_x86_64 = 1a0a4779592c5136725c4839ae71dbfc3aaa59bb22cd4b01f2ca55a583f26b9d
	source_aarch64 = dagger_v0.20.3_linux_arm64.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.3/dagger_v0.20.3_linux_arm64.tar.gz
	sha256sums_aarch64 = d14ae009238df34870b44761dcd93ab1e3e7abec7e2be96e98eef2c6fce80d28
	source_armv7h = dagger_v0.20.3_linux_armv7.tar.gz::https://github.com/dagger/dagger/releases/download/v0.20.3/dagger_v0.20.3_linux_armv7.tar.gz
	sha256sums_armv7h = a1f5056c577ec6fffaa2cb5217563a02668814f944c045578dd9db4182d6f7cc

pkgname = dagger-bin
