pkgbase = repomix
	pkgdesc = Pack a repository into a single AI-friendly file (CLI)
	pkgver = 1.13.1
	pkgrel = 1
	url = https://repomix.com/
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs>=20
	optdepends = git: pack remote repositories
	conflicts = repomix-git
	source = repomix-1.13.1.tgz::https://registry.npmjs.org/repomix/-/repomix-1.13.1.tgz
	sha256sums = 6cf55ff94ceff076def10159561933be8830f886d058cc7908f3a8951630006f

pkgname = repomix
