pkgbase = omnictl-bin
	pkgdesc = CLI for Omni - SaaS-simple deployment of Kubernetes on your own hardware
	pkgver = 1.5.8
	pkgrel = 1
	url = https://omni.siderolabs.com/
	arch = x86_64
	arch = aarch64
	license = BUSL-1.1
	replaces = omnictl
	options = !strip
	source_x86_64 = omnictl-linux-amd64-v1.5.8::https://github.com/siderolabs/omni/releases/download/v1.5.8/omnictl-linux-amd64
	sha256sums_x86_64 = 84cc2faa51d9d76fd22c606c138b20a65967a56db79b5026892a1833274da055
	source_aarch64 = omnictl-linux-arm64-v1.5.8::https://github.com/siderolabs/omni/releases/download/v1.5.8/omnictl-linux-arm64
	sha256sums_aarch64 = 05509fd446ffd5a6b1b279b2bf61c611e2e38906f92070c4e91ba669dbd5a4bb

pkgname = omnictl-bin
