pkgbase = omnictl-bin
	pkgdesc = CLI for Omni - SaaS-simple deployment of Kubernetes on your own hardware
	pkgver = 1.5.10
	pkgrel = 1
	url = https://omni.siderolabs.com/
	arch = x86_64
	arch = aarch64
	license = BUSL-1.1
	replaces = omnictl
	options = !strip
	source_x86_64 = omnictl-linux-amd64-v1.5.10::https://github.com/siderolabs/omni/releases/download/v1.5.10/omnictl-linux-amd64
	sha256sums_x86_64 = 569ab2ebc8c743179390bd6f145ca2f20900413a3ad963e89613dc49c208075b
	source_aarch64 = omnictl-linux-arm64-v1.5.10::https://github.com/siderolabs/omni/releases/download/v1.5.10/omnictl-linux-arm64
	sha256sums_aarch64 = 88b988082e6d1e2f774be9ac58d9aa4699f2f9c884b6610d28848ce3cb237d58

pkgname = omnictl-bin
