pkgbase = supabase-git
	pkgdesc = CLI for Supabase, an open source Firebase alternative
	pkgver = 2.76.15.r4.g6258d35f
	pkgrel = 1
	url = https://supabase.com/docs/reference/cli/about
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	provides = supabase
	conflicts = supabase
	conflicts = supabase-bin
	options = !lto
	source = supabase-cli::git+https://github.com/supabase/cli.git
	sha256sums = SKIP

pkgname = supabase-git
