pkgbase = specify-cli
	pkgdesc = Spec Kit Specify CLI (spec-driven development workflow)
	pkgver = 0.0.90
	pkgrel = 1
	url = https://github.com/github/spec-kit
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python>=3.12
	depends = python-typer
	depends = python-rich
	depends = python-httpx
	depends = python-platformdirs
	depends = python-readchar
	source = specify-cli-0.0.90.tar.gz::https://github.com/github/spec-kit/archive/refs/tags/v0.0.90.tar.gz
	sha256sums = 851b78b9a3c117f5299935e36fc76b73e6dd1910194bc36c376d82da4c84704f

pkgname = specify-cli
