pkgbase = plezy-bin
	pkgdesc = Modern Plex client built with Flutter (prebuilt binary)
	pkgver = 1.15.0
	pkgrel = 1
	url = https://github.com/edde746/plezy
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk3
	depends = glib2
	depends = libepoxy
	depends = libkeybinder3
	depends = alsa-lib
	depends = mpv
	provides = plezy
	conflicts = plezy
	conflicts = plezy-git
	options = !strip
	source = plezy-bin-1.15.0.tar.gz::https://github.com/edde746/plezy/releases/download/1.15.0/plezy-linux.tar.gz
	source = LICENSE-1.15.0::https://raw.githubusercontent.com/edde746/plezy/1.15.0/LICENSE
	sha256sums = 35d3915a4f66c98a45bc0056c6b38e5e8a0f384821d5fde646797c60c4f561bd
	sha256sums = SKIP

pkgname = plezy-bin
