pkgbase = container-use-bin
	pkgdesc = MCP server for container workflows (prebuilt binary)
	pkgver = 0.4.2
	pkgrel = 1
	url = https://container-use.com
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = glibc
	provides = container-use
	conflicts = container-use
	conflicts = container-use-git
	source = checksums.txt::https://github.com/dagger/container-use/releases/download/v0.4.2/checksums.txt
	sha256sums = SKIP
	source_x86_64 = container-use_v0.4.2_linux_amd64.tar.gz::https://github.com/dagger/container-use/releases/download/v0.4.2/container-use_v0.4.2_linux_amd64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = container-use_v0.4.2_linux_arm64.tar.gz::https://github.com/dagger/container-use/releases/download/v0.4.2/container-use_v0.4.2_linux_arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = container-use-bin
