pkgbase = dagger-bin
	pkgdesc = An open-source runtime for composable workflows (prebuilt binary)
	pkgver = 0.19.10
	pkgrel = 1
	url = https://dagger.io
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = glibc
	optdepends = docker: container runtime (recommended)
	optdepends = podman: alternative container runtime
	provides = dagger
	conflicts = dagger
	conflicts = dagger-git
	source = checksums.txt::https://dl.dagger.io/dagger/releases/v0.19.10/checksums.txt
	sha256sums = SKIP
	source_x86_64 = dagger_v0.19.10_linux_amd64.tar.gz::https://dl.dagger.io/dagger/releases/v0.19.10/dagger_v0.19.10_linux_amd64.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = dagger_v0.19.10_linux_arm64.tar.gz::https://dl.dagger.io/dagger/releases/v0.19.10/dagger_v0.19.10_linux_arm64.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = dagger-bin
